/.git
/.github
/.husky
/src
/styles
/templates
/node_modules
/dist/tests

.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc
.mocharc.json
.nycrc.json
.prettierignore
.prettierrc.json
.stylelintrc.json

commitlint.config.ts
pnpm-lock.yaml
tsconfig.json
tsconfig.tsbuildinfo
